.campaign{
	display: flex;
	overflow: hidden;
}

.left{
	overflow-x: hidden;
}

.left, .right{
	margin-top: 65px;
	margin-left: 3%;
	height: 80%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5pt;
	color: white;
}

.left{
	width: 58%;
	margin-left: 10%;
}

.title{
	margin: 10pt;
}


.camp-nav{
	height: 20pt;
	width: 100%;
	text-align: center;
}

.campaign-placeholder{
	height: 100%;
	position: relative;
}

.tentang-img{
	margin-top: 15pt;
	width: 70%;
	margin-left: 15%;
}

.tentang--isi{
	overflow-y: scroll;
	height: 80%;
}

.table-hadiah{
	width: 100%;
	height: 70%;
	overflow-y: scroll;
}

.hadiah{
	margin-top: 15pt;
}

.hadiah-list{
	border-bottom: 1px solid white;
	padding-bottom: 10pt;
}

.row{
	margin-top: 15pt;
	width: 100%;
}

.right{
	width: 20%;
}

.about-auth, .profile-pict, .profile-desc{
	margin-top: 7pt;
	margin-bottom: 7pt;
}

.about-auth{
	text-align: center;
}

.img-placeholder{
	width: 100%;
}

.profile-pict{
	margin-left: 20%;
	border-radius: 50%;
	width: 60%;
}

.profile-desc{
	margin-left: 7pt;
	margin-bottom: 5pt;
	font-size: 10pt;
}

.main-desc, .sec-desc, .tri-desc{
	margin-top: 15pt;
}

.main-desc{
	margin-top: 7pt;
	font-size: 15pt;
}


