#navbar{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    color: white;
}

#nav-text{
    color: white;
}

.nav-item{
    color: white;
}

.nav-link {
    color: white;
}

.active{
	font-weight: bold;
}
/* #navLogin {
    visibility: hidden;
}
#navRegis {
    visibility: hidden;
}

#navHome {
    margin-right: -130px;
} */