.prev-campaign{
    height: 100%;
    width: 100%;
    background-image: url("../assets/img-info.jpg");
    position: absolute;
    top: 200%;
}

.header{
    margin-top: 5%;
    text-align: center;
    color: white;
}

.content-prev{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin: auto;
    width: 70%;
    height: 65%;
}

.wrap{
    width: 70%;
}

.content-top{
    width: 100%;
    margin-bottom: 5%;
}

.img-thumb-prev{
    width: 30%;
    background: url("../assets/Event1.1.jpg") center no-repeat;
    background-size: contain;
}