.prize-page{
	height: 100%;
	width: 100%;
	margin-top: 5%;
    margin-left: 10%;
}

.content{
    height: 80%;
    width: 80%;
    padding: 15pt;
}

.prize-card{
	margin-top: 15px;
	width: 300px;
}

.img-round{
	height: 125px;
	width: 125px;
	background-color: white;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 5pt;
}

#rwd1{
	background-image: url("/assets/reward1.jpg");
	background-size: 100%;
	cursor: pointer;
}
#rwd2{
	background-image: url("/assets/reward2.jpg");
	background-size: 100%;
	cursor: pointer;
}
#rwd3{
	background-image: url("/assets/reward3.jpg");
	background-size: 100%;
	cursor: pointer;
}
#rwd4{
	background-image: url("/assets/reward4.jpg");
	background-size: 100%;
	cursor: pointer;
}
#rwd5{
	background-image: url("/assets/reward5.jpg");
	background-size: 100%;
	cursor: pointer;
}
#rwd6{
	background-image: url("/assets/reward6.jpg");
	background-size: 100%;
	cursor: pointer;
}
#rwd7{
	background-image: url("/assets/reward7.jpg");
	background-size: 100%;
	cursor: pointer;
}
#rwd8{
	background-image: url("/assets/reward8.jpg");
	background-size: 100%;
	cursor: pointer;
}


.prize-card>p{
	text-align: center;
}