body{
	background: url("../assets/pahawang.jpg") no-repeat fixed center;
	background-size: 100%;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	position: fixed;
	width: 500px;
	height: 500px;
	left: 30%;
	margin-top: 2%;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}
#bg-loading{
	width: 100%;
	height: 1080px;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	z-index: 1000;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.hover-active:hover{
	cursor: pointer;
}

.shade{
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}


.shade-modal{
	background-color: rgba(45, 52, 54, 0.95);
	color: white;
}

p{
	margin-bottom: 0;
}

.menu{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: -150%;
	z-index: 0;
}

.ready--next{
	left: 150%;
}

.ready--prev{
	left: -150%;
}

#header{
	z-index: 99;
}

.menu--on{
	left: 0%;
	transition: all 300ms ease-in-out;
	z-index: 1;
}

.menu--off--prev{
	left: 150%;
	transition: all 600ms ease-in-out;
}

.menu--off--next{
	left: -150%;
	transition: all 600ms ease-in-out;
}

.carousel-control-prev, .carousel-control-next{
	z-index: 99;
	width: 10%;
}

label{
	color: white;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 3px;
  background-color: transparent; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 1); }

.flex{
	display: flex;
}

.yellow{
	color: yellow;
}

.cyan{
	color: cyan;
}

.hide{
  	display: none;
}