body{
	overflow: hidden;
	background: url("../assets/pahawang.jpg") no-repeat fixed center;
}

a{
	cursor: active;
}

p{
	margin-bottom: 0;
}

.menu{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: -150%;
	z-index: 0;
}

.ready--next{
	left: 150%;
}

.ready--prev{
	left: -150%;
}

#header{
	z-index: 99;
}

.menu--on{
	left: 0%;
	transition: all 300ms ease-in-out;
	z-index: 1;
}

.menu--off--prev{
	left: 150%;
	transition: all 600ms ease-in-out;
}

.menu--off--next{
	left: -150%;
	transition: all 600ms ease-in-out;
}

.navbar-brand, .page-header{
	color: white;
}

.carousel-control-prev, .carousel-control-next{
	z-index: 99;
}

label{
	color: white;
}